<footer>
    <div class="footer-container sticky-bottom">
        <div class="footer-section aboutus">
            <h4>About Us</h4>
            <p>
                Welcome to our books website! At Bookswale, we aim to connect readers with the best books available. From timeless classics to modern-day masterpieces, we offer a wide range of genres, including Fiction, Non-Fiction, and Children's Books
                <a href="/aboutus">more...</a>
            </p>
        </div>
        <div class="footer-section QuickLinks" style="display: none;">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#bestsellers">BestSellers</a></li>
                <li><a href="#fiction">Fiction</a></li>
                <li><a href="#Nonfiction">Non-Fiction</a></li>
                <li><a href="#kids">Kids</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Follow Us</h4>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom ">
        <p>© 2024 Books Website | Designed with ❤️ by [Om Kale]</p>
    </div>
</footer>
