<footer>
    <div class="footer-container sticky-bottom">
        <div class="footer-section">
            <h4>Company</h4>
            <ul class="no-dots">
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Policies</h4>
            <ul class="no-dots">
                <li><a href="#bestsellers">Privacy Policies</a></li>
                <li><a href="#fiction">Secure Shopping</a></li>
                <li><a href="#Nonfiction">Copyright Policy</a></li>
                <li><a href="#kids">Terms of Use</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Follow Us</h4>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>Helps</h4>
            <ul class="no-dots">
                <li><a href="#bestsellers">Payment </a></li>
                <li><a href="#fiction">Shipping</a></li>
                <li><a href="#Nonfiction">Return</a></li>
                <li><a href="#kids">FAQ</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 Books Website | Designed with ❤️ by [Om Kale]</p>
    </div>
</footer>
