<style>
   
</style>

<div class="quick-product">
    <div class="container1">
        <!-- Footer Links -->
        <ul class="footer-links">

            <% if(curruser) {%>
                <% if(curruser.username==Admin){ %>
                 <li class="nav-item">
                   <a class="nav-link" href="/listings/new">
       
                     <i class="fa-solid fa-plus"  style="font-size: 2rem;"  id="cart-icon"></i> 
                     <i class=""></i><span style="margin-left: -1px;">New</span>
                    </a>
                    </li>
       
                    <li class="nav-item">
                     <a class="nav-link" href="/pro-not-avai">
         
                      <i class="fa-solid fa-users-line"  style="font-size: 2rem;"  id="cart-icon"></i> 
                       <i class=""></i>Customer Ativity
                      </a>
                      </li>
                     
         <% }else{ %>
            <li>
                <a href="/aboutus">
                    <i class="fa-solid fa-eye"></i>
                   About Us
                </a>
            </li>
            <li>
                <a href="/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge" id="cartbadge">
                        <%= cartcount || 0 %>
                    </span>
                    Cart
                </a>
            </li>
            <li>
                <a href="/wishlist">
                    <i class="fas fa-heart"></i>
                    <span class="badge" id="wishlistbadge">
                        <%= wishlistCount || 0 %>
                    </span>
                    Wishlist
                </a>
            </li>
            <% }} %>
            <%if(!curruser){  %>
            <li>
                <a href="/aboutus">
                    <i class="fa-solid fa-eye"></i>
                   About Us
                </a>
            </li>
            <% } %>
            <li>
                <% if (!curruser) { %>
                    <a href="/login">
                        <i class="fas fa-user"></i>
                        Login
                    </a>
                <% } else { %>
                    <a href="/logout">
                        <i class="fas fa-user-slash"></i>
                        Logout
                    </a>
                <% } %>
            </li>
           
        </ul>
    </div>
</div>
