<link rel="stylesheet" href="/css/footer_section.css">
<div class="footer-section">
    <h4>Follow Us</h4>
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
    </div>
    <div class="footer-bottom">
        <p>© 2024 Books Website | Designed with ❤️ by [Om Kale]</p>
    </div>
</div>
