
  <title>Signup Form</title>
  <% layout('./layouts/boilerplate') %>
  <link rel="stylesheet" href="/css/signup_form.css">
  
</head>
<body>

  <form class="signup-form" action="/signup" method="POST">
    <h2>Signup</h2>
    <label for="name"><B>Username</B></label>
    <input type="text" id="username" name="username" required>

    <label for="email"><B>Email</B></label>
    <input type="email" id="email" name="email" required>

    <label for="password"><B>Password</B></label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Sign Up</button>
  </form>

</body>
</html>
